.git
.github
.dockerignore
.secrets.baseline
Dockerfile
charts
LICENSE
README.md
CHANGELOG.md
node_modules
public/assets
public/packs
public/packs-test

log/*
!log/.keep
storage/*
!storage/.keep
tmp/*
!tmp/.keep

.bundle
.byebug_history
.env
.env.*
config/master.key
config/credentials/development.key
config/credentials/production.key
config/credentials/staging.key
docker-compose.override.yml
yarn-error.log
yarn-debug.log*
.yarn-integrity
